<!--<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container my-3">

        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question, loop : ${questionList}">
                <td th:text="${loop.count}"></td>
                <td>
                    <a th:href="@{|/question/detail/${question.id}|}"
                       th:text="${question.subject}"></a> <!-- 일반 문자열과 자바 객체값을 같이 사용할 때 |로 감싸주어야 한다.-->
                </td>
                <td th:text="${#temporals.format(question.createDate,'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</html>